.siderbar {
  background-color: #888686;
  float: left;
  width: 200px;

  & > a {
    display: block;
    text-align: center;
    padding: .5em;
    text-decoration: none;
    color: white;
    transition: .1s;

    &:hover,
    &.active {
      color: crimson;
    }
  }
}
