.navbar {
  background: #333;

  & > .container {
    list-style: none;

    & > a {
      color: white;
      text-decoration: none;
      display: inline-block;
      padding: .5em 1em;
      transition: .1s;
      transform: scale(1.2);

      &:hover,
      &.active {
        color: #839cfb;
      }
    }
  }
}
